[Desktop Entry]
Type=Application
Version=1.0
Name=Bajerino
Comment=Chat client for Twitch
Exec=bajerino
Icon=com.bajerino.bajerino
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=bajerino
